In [26]:
import pandas as pd
import numpy as np
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt


%matplotlib inline

In [38]:
df_conf = pd.read_csv('corona_data/time_series_covid_19_confirmed.csv')
df_death = pd.read_csv('corona_data/time_series_covid_19_deaths.csv')
df_recovered = pd.read_csv('corona_data/time_series_covid_19_recovered.csv')

In [39]:
df_conf = df_conf.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1).reset_index()
df_conf

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,1,1,1,4,4,5,7,7,7,11
1,Albania,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,10,12,23,33,38
2,Algeria,0,0,0,0,0,0,0,0,0,...,12,17,17,19,20,20,20,24,26,37
3,Andorra,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,Antigua and Barbuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,United Kingdom,0,0,0,0,0,0,0,0,0,...,116,164,207,274,322,384,459,459,801,1143
139,Uruguay,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
140,Venezuela,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
141,Vietnam,0,2,2,2,2,2,2,2,2,...,16,16,18,30,30,31,38,39,47,53
142,occupied Palestinian territory,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
df_death = df_death.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1).reset_index()
df_death

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Albania,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
2,Algeria,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,3
3,Andorra,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Antigua and Barbuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,United Kingdom,0,0,0,0,0,0,0,0,0,...,1,2,2,3,4,6,8,8,8,21
139,Uruguay,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
140,Venezuela,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
141,Vietnam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
142,occupied Palestinian territory,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
df_recovered = df_recovered.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1).reset_index()
df_recovered

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Albania,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Algeria,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8,8,12
3,Andorra,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,Antigua and Barbuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,United Kingdom,0,0,0,0,0,0,0,0,0,...,8,8,18,18,18,19,19,19,19,19
139,Uruguay,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
140,Venezuela,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
141,Vietnam,0,0,0,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
142,occupied Palestinian territory,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
dates = df_conf.columns

In [44]:
dates

Index(['index', 'Country/Region', '1/22/20', '1/23/20', '1/24/20', '1/25/20',
       '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20',
       '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20', '2/13/20',
       '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20',
       '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20',
       '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20', '3/2/20',
       '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20',
       '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20'],
      dtype='object')

In [45]:
data_series_list = []
for date in dates:
    data_series_list.append(df_conf[date])

In [46]:
sns.tspl

[0        0
 1        1
 2        2
 3        3
 4        4
       ...
 138    138
 139    139
 140    140
 141    141
 142    142
 Name: index, Length: 143, dtype: int64,
 0                         Afghanistan
 1                             Albania
 2                             Algeria
 3                             Andorra
 4                 Antigua and Barbuda
                     ...
 138                    United Kingdom
 139                           Uruguay
 140                         Venezuela
 141                           Vietnam
 142    occupied Palestinian territory
 Name: Country/Region, Length: 143, dtype: object,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    0
 139    0
 140    0
 141    0
 142    0
 Name: 1/22/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    0
 139    0
 140    0
 141    2
 142    0
 Name: 1/23/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    0
 139    0
 140    0
 141    2
 142    0
 Name: 1/24/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    0
 139    0
 140    0
 141    2
 142    0
 Name: 1/25/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    0
 139    0
 140    0
 141    2
 142    0
 Name: 1/26/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    0
 139    0
 140    0
 141    2
 142    0
 Name: 1/27/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    0
 139    0
 140    0
 141    2
 142    0
 Name: 1/28/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    0
 139    0
 140    0
 141    2
 142    0
 Name: 1/29/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    0
 139    0
 140    0
 141    2
 142    0
 Name: 1/30/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    2
 139    0
 140    0
 141    2
 142    0
 Name: 1/31/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    2
 139    0
 140    0
 141    6
 142    0
 Name: 2/1/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    2
 139    0
 140    0
 141    6
 142    0
 Name: 2/2/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    2
 139    0
 140    0
 141    8
 142    0
 Name: 2/3/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    2
 139    0
 140    0
 141    8
 142    0
 Name: 2/4/20, Length: 143, dtype: int64,
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 138    2
 139    0
 140    0
 141    8
 142    0
 Name: 2/5/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     2
 139     0
 140     0
 141    10
 142     0
 Name: 2/6/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     3
 139     0
 140     0
 141    10
 142     0
 Name: 2/7/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     3
 139     0
 140     0
 141    13
 142     0
 Name: 2/8/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     3
 139     0
 140     0
 141    13
 142     0
 Name: 2/9/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     8
 139     0
 140     0
 141    14
 142     0
 Name: 2/10/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     8
 139     0
 140     0
 141    15
 142     0
 Name: 2/11/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    15
 142     0
 Name: 2/12/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/13/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/14/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/15/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/16/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/17/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/18/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/19/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/20/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/21/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/22/20, Length: 143, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 138     9
 139     0
 140     0
 141    16
 142     0
 Name: 2/23/20, Length: 143, dtype: int64,
 0       1
 1       0
 2       0
 3       0
 4       0
        ..
 138    13
 139     0
 140     0
 141    16
 142     0
 Name: 2/24/20, Length: 143, dtype: int64,
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 138    13
 139     0
 140     0
 141    16
 142     0
 Name: 2/25/20, Length: 143, dtype: int64,
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 138    13
 139     0
 140     0
 141    16
 142     0
 Name: 2/26/20, Length: 143, dtype: int64,
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 138    15
 139     0
 140     0
 141    16
 142     0
 Name: 2/27/20, Length: 143, dtype: int64,
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 138    20
 139     0
 140     0
 141    16
 142     0
 Name: 2/28/20, Length: 143, dtype: int64,
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 138    23
 139     0
 140     0
 141    16
 142     0
 Name: 2/29/20, Length: 143, dtype: int64,
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 138    36
 139     0
 140     0
 141    16
 142     0
 Name: 3/1/20, Length: 143, dtype: int64,
 0       1
 1       0
 2       3
 3       1
 4       0
        ..
 138    40
 139     0
 140     0
 141    16
 142     0
 Name: 3/2/20, Length: 143, dtype: int64,
 0       1
 1       0
 2       5
 3       1
 4       0
        ..
 138    51
 139     0
 140     0
 141    16
 142     0
 Name: 3/3/20, Length: 143, dtype: int64,
 0       1
 1       0
 2      12
 3       1
 4       0
        ..
 138    86
 139     0
 140     0
 141    16
 142     0
 Name: 3/4/20, Length: 143, dtype: int64,
 0        1
 1        0
 2       12
 3        1
 4        0
       ...
 138    116
 139      0
 140      0
 141     16
 142      0
 Name: 3/5/20, Length: 143, dtype: int64,
 0        1
 1        0
 2       17
 3        1
 4        0
       ...
 138    164
 139      0
 140      0
 141     16
 142      0
 Name: 3/6/20, Length: 143, dtype: int64,
 0        1
 1        0
 2       17
 3        1
 4        0
       ...
 138    207
 139      0
 140      0
 141     18
 142      0
 Name: 3/7/20, Length: 143, dtype: int64,
 0        4
 1        0
 2       19
 3        1
 4        0
       ...
 138    274
 139      0
 140      0
 141     30
 142      0
 Name: 3/8/20, Length: 143, dtype: int64,
 0        4
 1        2
 2       20
 3        1
 4        0
       ...
 138    322
 139      0
 140      0
 141     30
 142      0
 Name: 3/9/20, Length: 143, dtype: int64,
 0        5
 1       10
 2       20
 3        1
 4        0
       ...
 138    384
 139      0
 140      0
 141     31
 142      0
 Name: 3/10/20, Length: 143, dtype: int64,
 0        7
 1       12
 2       20
 3        1
 4        0
       ...
 138    459
 139      0
 140      0
 141     38
 142      0
 Name: 3/11/20, Length: 143, dtype: int64,
 0        7
 1       23
 2       24
 3        1
 4        0
       ...
 138    459
 139      0
 140      0
 141     39
 142      0
 Name: 3/12/20, Length: 143, dtype: int64,
 0        7
 1       33
 2       26
 3        1
 4        1
       ...
 138    801
 139      0
 140      0
 141     47
 142      0
 Name: 3/13/20, Length: 143, dtype: int64,
 0        11
 1        38
 2        37
 3         1
 4         1
        ...
 138    1143
 139       4
 140       2
 141      53
 142       0
 Name: 3/14/20, Length: 143, dtype: int64]